
section{
    color: white;
object-position: top;
}
p{
    color: #A5C0DE;
    font-size: x-large;
    text-align: center;

}
p4{
    color: #A5C0DE;
    font-size: x-large;
    text-align: left;

github2{
}
}
github1{

}


a{
    object-position: top;
}
p1{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
#github img {
    animation-play-state: paused;
    animation: driveAway 2s ease-in-out forwards;

}

#github-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    visibility: visible;
}

@keyframes driveAway {
    0% {
        transform: rotate3d(0,3,3,0deg);
    }
    100% {
        transform: rotate3d(0,9,9,360deg);
        opacity: 0;

    }

}
